<div class="create-subject-dialog">
  <h2 mat-dialog-title>Create/Edit Subject</h2>
  <br>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="newSubject" class="row no-gutters">
      <div class="col-12 col-md-8 p-0">
        <mat-form-field appearance="legacy" class="row no-gutters">
          <mat-label>{{ 'general.name' | translate}}</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="legacy" class="row no-gutters">
          <mat-label>{{ 'general.code' | translate}}</mat-label>
          <input matInput formControlName="code">
        </mat-form-field>
        <mat-form-field appearance="legacy" class="row no-gutters">
          <mat-label>{{ 'general.semester' | translate}}</mat-label>
          <input matInput type="number" formControlName="semester">
        </mat-form-field>
        <mat-form-field appearance="legacy" class="row no-gutters">
          <mat-label>{{ 'general.description' | translate}}</mat-label>
          <textarea matInput formControlName="description" rows="3"></textarea>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-8 p-0">
        <mat-form-field appearance="legacy" class="row no-gutters">
          <mat-select formControlName="teacher" placeholder="Teacher">
            <mat-option *ngFor="let teacher of teachers" [value]="teacher.email">
              {{ teacher.firstName }} {{ teacher.lastName }}
            </mat-option>
          </mat-select>
        </mat-form-field>



        <mat-form-field appearance="legacy" class="row no-gutters">
          <mat-chip-list #tutorList>
            <mat-chip *ngFor="let tutor of selectedTutors" [value]="getUserFullNameByEmail(tutor, tutors)"
                      removable (removed)="removeTutor(tutor)">
              {{ getUserFullNameByEmail(tutor, tutors) }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input #tutorInput
                   placeholder="Tutors"
                   [matAutocomplete]="tutorAuto"
                   [formControl]="tutorControl"
                   [matChipInputFor]="tutorList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="addTutor($event)">
          </mat-chip-list>
          <mat-autocomplete #tutorAuto (optionSelected)="selectedTutor($event)">
            <mat-option *ngFor="let tutor of filteredTutors | async" [value]="tutor.email">
              {{ tutor.firstName }} {{ tutor.lastName }} - {{ tutor.email }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>


        <mat-form-field appearance="legacy" class="row no-gutters">
          <mat-chip-list #studentList>
            <mat-chip *ngFor="let student of selectedStudents" [value]="getUserFullNameByEmail(student, students)"
                      removable (removed)="removeStudent(student)">
              {{ getUserFullNameByEmail(student, students) }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input #studentInput
                   placeholder="Students"
                   [matAutocomplete]="studentAuto"
                   [formControl]="studentsControl"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputFor]="studentList"
                   (matChipInputTokenEnd)="addStudent($event)">
          </mat-chip-list>
          <mat-autocomplete #studentAuto (optionSelected)="selectedStudent($event)">
            <mat-option *ngFor="let student of filteredStudents | async" [value]="student.email">
              {{ student.firstName }} {{ student.lastName }} - {{ student.email }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>



<!--        <mat-form-field appearance="legacy" class="row no-gutters">-->
<!--          <mat-select formControlName="teacher" placeholder="Groups">-->
<!--            <mat-option *ngFor="let teacher of teachers" [value]="teacher.email">-->
<!--              {{ teacher.firstName }} {{ teacher.lastName }}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="close()">Cancel</button>
    <button mat-raised-button color="accent" [mat-dialog-close]="true"
            [disabled]="!newSubject.valid" (click)="create()">Create</button>
  </mat-dialog-actions>

</div>
