<div class="create-subject-dialog">
  <h2 mat-dialog-title>Create Subject</h2>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="newSubject">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Code</mat-label>
        <input matInput formControlName="code">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Semester</mat-label>
        <input matInput type="number" formControlName="semester">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="accent" [mat-dialog-close]="true"
            [disabled]="!newSubject.valid" (click)="create()">Create</button>
  </mat-dialog-actions>

</div>
