<div class="row no-gutters image-uploader">
  <div class="file-uploader col-12 col-md-6">
    <div class="drop-area-container">
      <input (change)="onImageSelected($event)" #inputField class="drop-area"
             [accept]="'.jpg, .jpeg, .png, .img'" type="file"
             [multiple]="false">
      <div class="drop-area-overlay">
        {{ 'general.dragAndDropFile' | translate}} <br/>
        {{ 'general.or' | translate}}<br/>
        {{ 'general.click' | translate}}!<br/>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="row no-gutters d-flex w-100 justify-content-center">
        <button mat-mini-fab
                *ngIf="imageChangedEvent"
                (click)="zoomOut()">
          <mat-icon>zoom_out</mat-icon>
        </button>
        <button mat-mini-fab
                *ngIf="imageChangedEvent"
                (click)="zoomIn()">
          <mat-icon>zoom_in</mat-icon>
        </button>
      </div>
      <image-cropper
        *ngIf="imageChangedEvent"
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="1 / 1"
        format="png"
        [resizeToWidth]="256"
        [cropperMinWidth]="128"
        [onlyScaleDown]="true"
        [roundCropper]="true"
        [alignImage]="'left'"
        [transform]="transform"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </div>
    <button *ngIf="imageChangedEvent" mat-raised-button color="accent"
            (click)="saveImage()">{{ 'general.save' | translate}}</button>
  </div>
  <div class="file-uploader-preview col-12 col-md-6" *ngIf="croppedImage">
    <div class="preview">{{ 'general.preview' | translate}}</div>
    <div class="image-wrapper">
      <img [src]="croppedImage" class="d-block px-2 round-border">
    </div>
    <div class="image-wrapper">
      <img [src]="croppedImage" class="d-block px-">
    </div>
  </div>
</div>
