$transition-hide: cubic-bezier(0.4, 0, 0.2, 1);
$transition-show: cubic-bezier(0, 0, 0.2, 1);

$duration-fast: 250ms;
$duration-slow: 200ms;

$transition-delay: 50ms;

@mixin transition-enter($attribute) {
  transition: $attribute $duration-fast $transition-show !important;
}
@mixin transition-leave($attribute) {
  transition: $attribute $duration-slow $transition-hide !important;
}
