//to be filled with  values used all over the application
$wl-primary: #4b97a4;

$elevation-shadow-not-on-top-8px: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 8px 8px 0 rgba(0, 0, 0, 0.12);
$elevation-shadow-16px: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 16px 0 rgba(0, 0, 0, 0.12);
$elevation-shadow-12px: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
$elevation-shadow-8px: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 8px 0 rgba(0, 0, 0, 0.12);
$elevation-shadow-4px: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.12);
$elevation-shadow-2px: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.12);
$elevation-shadow-0px: 0 0 1px 0 rgba(0, 0, 0, 0.12);

$elevation-shadow-teal-16px: 0 2px 4px 0 $wl-primary, 0 0 16px 0 $wl-primary;
$elevation-shadow-teal-12px: 0 2px 4px 0 $wl-primary, 0 0 12px 0 $wl-primary;
$elevation-shadow-teal-8px: 0 2px 4px 0 $wl-primary, 0 0 8px 0 $wl-primary;
$elevation-shadow-teal-4px: 0 2px 4px 0 $wl-primary, 0 0 4px 0 $wl-primary;
$elevation-shadow-teal-2px: 0 0 4px 0 $wl-primary, 0 0 2px 0 $wl-primary;
$elevation-shadow-teal-0px: 0 0 1px 0 $wl-primary;

$transition-hide: cubic-bezier(0.4, 0, 0.2, 1);
$transition-show: cubic-bezier(0, 0, 0.2, 1);
$transition-move: cubic-bezier(0.4, 0, 0.2, 1);

$font__weight--light: 300;
$font__weight--medium: 500;
$font__weight--bold: 700;
$body-font-size: 18px;
$body-font-weight: $font__weight--light;
$body-font-style: normal;
$body-line-height: 1.5;
$body-font-color: #54585a;
$body-font-color--secondary: #a9abac;
$body-font-size--hint: 12px;

$white: #fff;

$dark-gradient: linear-gradient(225deg, #222327 0%, #54585a 100%);
$grey-gradient: linear-gradient(225deg, #959b9c 0%, #a9abac 100%);
$light-gradient: linear-gradient(225deg, #959b9c 0%, #a9abac 100%);

$blue-dark-gradient: linear-gradient(225deg, #004d40 0%, #00796b 100%);
$primary-medium-gradient: linear-gradient(225deg, #00796b 0%, $wl-primary 100%);
$primary-light-gradient: linear-gradient(225deg, $wl-primary 0%, #80cbc4 100%);
$blue-extra-light-gradient: linear-gradient(225deg, #9eb1c5 0%, #e0e6ee 100%);
$blue-ultra-light-gradient: linear-gradient(225deg, #e0e6ee 0%, #f4f4f4 100%);

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1900px;

$xs-max: 575px;
$sm-max: 767px;
$md-max: 991px;
$lg-max: 1199px;
$xl-max: 1899px;

$wl-box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.16);
$wl-header-height: 60px;
$sidebarMinWidth: 50px;
$sidebarDefaultWidth: 200px;

@mixin scrollableContentPadding {
  padding: 10px 5px;
}
