@import "src/assets/style/variables";

.profile-page {

  .user-information {
    padding: 1rem 0;

    .label {
      margin-right: 5px;
    }
  }

  .profile-image-container {

    @media (max-width: $md) {
      flex-direction: column;
    }

    @media (max-width: $md) {

      .profile-image {
        width: 100%;
        display: block !important;
      }
    }
  }
}
