@import "src/assets/style/variables";

.profile-page {

  .user-information {
    padding: 1rem 0;

    .label {
      margin-right: 5px;
    }
  }

  .profile-image-container {

    .image-wrapper {
      display: flex;
      flex: 1;
      padding: 0 2rem;
      height: 250px;

      .profile-image {
        width: auto;
        height: 100%;
        display: block !important;
      }
    }

    @media (max-width: $md) {
      flex-direction: column;
    }

    @media (max-width: $md) {

      .image-wrapper {
        padding: 1rem 0;
      }
    }
  }
}
