<div class="profile-page">
  <h1>{{ 'profilePage.profile' | translate }}</h1>
  <div class="row d-flex justify-content-end">
    <button mat-raised-button color="accent" class="add-subject" aria-label="View Profile" (click)="viewProfile()">
      <mat-icon>person</mat-icon>
      {{ 'profilePage.editProfile' | translate }}
    </button>
  </div>
  <div class="row no-gutters">
    <div class="col-12 col-md-6 user-information" *ngIf="userProfile">
      <div class="row no-gutters">
        <h6 class="label">{{ 'profilePage.firstName' | translate }}: </h6>
        <span>{{ userProfile.firstName }}</span>
      </div>
      <div class="row no-gutters">
        <h6 class="label">{{ 'profilePage.lastName' | translate }}: </h6>
        <span>{{ userProfile.lastName }}</span>
      </div>
      <div class="row no-gutters">
        <h6 class="label">{{ 'profilePage.username' | translate }}: </h6>
        <span>{{ userProfile.username }}</span>
      </div>
    </div>
    <div class="col-12 col-md-6 user-information" *ngIf="userProfile">
      <div class="row no-gutters">
        <h6 class="label">{{ 'profilePage.email' | translate }}: </h6>
        <span>{{ userProfile.email }}</span>
      </div>
      <div class="row no-gutters">
        <h6 class="label">{{ 'profilePage.type' | translate }}: </h6>
        <span>{{ userProfile.type }}</span>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-12 col-md-6 d-flex align-content-start">
      <div class="d-inline-block">
        <h6 class="profile-picture">{{ 'profilePage.picture' | translate }}: </h6>
      </div>
      <img [src]="profilePicture" class="d-inline-block px-2 profile-image" *ngIf="profilePicture">
    </div>
    <div class="col-6">
      <h6>{{ 'profilePage.uploadPicture' | translate }}</h6>
      <wl-image-uploader (imageChange)="onImageSelected($event)"></wl-image-uploader>
    </div>
  </div>
</div>
