<mat-toolbar class="header" color="primary">
  <div class="left-side-container">
    <h1>WeasyLearn</h1>
  </div>
  <div class="right-side-container">
    <button mat-button [matMenuTriggerFor]="languageMenu" class="languageMenu">{{ currentLanguage.toUpperCase() }}</button>
    <mat-menu #languageMenu="matMenu">
      <button mat-menu-item (click)="setLanguage('ro')">RO</button>
      <button mat-menu-item (click)="setLanguage('en')">EN</button>
    </mat-menu>
    <div [matMenuTriggerFor]="menu" class="profile">
      <h6>{{ username }}</h6>
      <div class="image-container" > </div>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="profilePage()" > {{ 'header.profile' | translate}}</button>
      <button mat-menu-item  (click)="logout()" > {{ 'header.logout' | translate}} </button>
    </mat-menu>
  </div>


</mat-toolbar>


