<div class="subjects-list">
  <mat-list role="list">
    <mat-list-item role="listitem" class="list-headline">
      <div class="subject-entry row font-weight-bold">
        <div class="col-2">
          {{ 'subjectsPage.code' | translate }}
        </div>
        <div class="col-5">
          {{ 'subjectsPage.name' | translate }}
        </div>
        <div class="col-4">
          {{ 'subjectsPage.description' | translate }}
        </div>
        <div class="col-1">
          {{ 'subjectsPage.semester' | translate }}
        </div>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem" *ngFor="let subject of visibleSubjects" (click)="editSubject(subject)">
      <div class="subject-entry row">
        <div class="col-12 col-md-2">
          <span class="label">{{ 'subjectsPage.code' | translate }}:</span>
          {{ subject.code }}
        </div>
        <div class="col-12 col-md-5">
          <span class="label">{{ 'subjectsPage.name' | translate }}:</span>
          {{ subject.name }}
        </div>
        <div class="col-12 col-md-4">
          <span class="label">{{ 'subjectsPage.description' | translate }}:</span>
          {{ subject.description }}
        </div>
        <div class="col-12 col-md-1">
          <span class="label">{{ 'subjectsPage.semester' | translate }}:</span>
          {{ subject.semester }}
        </div>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem" *ngIf="!visibleSubjects || !visibleSubjects.length">
      {{ 'subjectsPage.noSubjects' | translate }}</mat-list-item>
  </mat-list>

</div>
