@import "src/assets/style/variables";

.subjects-list {

  .scrollable-list {
    max-height: 70vh;
    overflow-y: auto;
    @include scrollableContentPadding;
  }

  .subject-entry {
    width: 100%;
    padding: 0.5rem 0;
  }

  /deep/ .mat-list-item {
    height: auto !important;
    margin-bottom: 15px;

    &:not(:first-child) {

      &:hover {
        box-shadow: $elevation-shadow-teal-2px;
        cursor: pointer;
      }
    }

    &:first-child {
      @include scrollableContentPadding;
    }

    .mat-list-item-content {
      height: auto !important;
    }
  }

  .subject-entry .label {
    display: none;
  }

  .list-headline {
    box-shadow: $elevation-shadow-2px;
  }

  @media (max-width: $md) {

    .list-headline {
      display: none !important;
    }

    .subject-entry .label {
      display: inline-flex;
    }

    .mat-list-item {
      box-shadow: $elevation-shadow-2px;

      &:hover {
        box-shadow: $elevation-shadow-teal-8px;
      }
    }
  }
}
