<mat-toolbar class="header" color="primary">
  <div>WeasyLearn</div>
  <div>
    <mat-icon
      class="icon"
      [matMenuTriggerFor]="menu">
      palette
    </mat-icon>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        (click)="changeTheme('light-theme2')">
        Yellow - Light theme
      </button>
      <button
        mat-menu-item
        (click)="changeTheme('dark-theme2')">
        Yellow - Dark theme
      </button>
      <button
        mat-menu-item
        (click)="changeTheme('light-theme3')">
        Magenta - Light theme
      </button>
      <button
        mat-menu-item
        (click)="changeTheme('dark-theme3')">
        Magenta - Dark theme
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
