@import "src/assets/style/variables";

.side-menu {
  position: fixed;
  top: $wl-header-height;
  bottom: 0;
  left: 0;
  right: 0;
}

.side-bar {
  width: 200px;
  height: 100%;
}

/deep/ .side-bar {

  .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    overflow: unset;

    .side-bar-menu {
      padding: 0.5rem;
    }

    .theme-switcher {
      margin-top: auto;
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 768px) {

  .side-bar {
    width: 50px;
  }
}
