@import "src/assets/style/animations";

.info-container {

  .label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .edit-info {
    opacity: 0;
    @include transition-enter(opacity);
  }

  &:hover {

    .edit-info {
      opacity: 1;
      @include transition-leave(opacity);
    }
  }
}
